- **List()**
- **Tuple()**
- **Set()**
- **Dictionary()**

# List

In [58]:
List =[1,2,4,89,87,89,122]

In [59]:
type(List)

list

**Append**

In [60]:
List.append(222)  #Add the number add at the end.

In [61]:
List

[1, 2, 4, 89, 87, 89, 122, 222]

In [62]:
List1 =[12,98,32,11,122,87,87]

**Expand**

In [63]:
List.extend(List1) #We can add the two list by using the expand.

In [64]:
List

[1, 2, 4, 89, 87, 89, 122, 222, 12, 98, 32, 11, 122, 87, 87]

**Count**

In [66]:
List.count(87) #we can get the number of times the values has been repeated inside the list.

3

**POP**

In [70]:
List.pop() #By doing the our last element is removed and it return the element which was removed.

122

In [71]:
List

[1, 2, 4, 89, 87, 89, 122, 222, 12, 98, 32, 11]

**Index**

In [81]:
List.index(4,0) #It help us to return the element that is 4 and start of iteration of index from zero.

2

In [82]:
List.index(11,0)

11

**Remove**

In [83]:
List.remove(87) #It is help us to remove the 87 number from the list.

In [84]:
List

[1, 2, 4, 89, 89, 122, 222, 12, 98, 32, 11]

**Reverse**

In [90]:
List.reverse() #It is reversing the all the numbers.

In [91]:
List

[11, 32, 98, 12, 222, 122, 89, 89, 4, 2, 1]

**Sort**

In [94]:
List.sort() #It is helping the sorted value of the list.

In [95]:
List

[1, 2, 4, 11, 12, 32, 89, 89, 98, 122, 222]

## Practice on the List.

In [96]:
List

[1, 2, 4, 11, 12, 32, 89, 89, 98, 122, 222]

**Sclicing.**

In [98]:
List[2:]

[4, 11, 12, 32, 89, 89, 98, 122, 222]

In [99]:
List[::2]

[1, 4, 12, 89, 98, 222]

In [102]:
List[::-1]

[222, 122, 98, 89, 89, 32, 12, 11, 4, 2, 1]

In [105]:
List[0]

1

In [119]:
List.append(list)

In [122]:
List = List[:11].copy()

In [123]:
List

[1, 2, 4, 11, 12, 32, 89, 89, 98, 122, 222]

In [129]:
lst =[]

for i in List:
    if i>=100:
        lst.append('Higher Values')
    else:
        lst.append('Lower Values')

In [130]:
lst

['Lower Values',
 'Lower Values',
 'Lower Values',
 'Lower Values',
 'Lower Values',
 'Lower Values',
 'Lower Values',
 'Lower Values',
 'Lower Values',
 'Higher Values',
 'Higher Values']

## Various Format of List.

In [134]:
List = ['Ram','Shyam','Rahim','Laxman','John']

In [138]:
List[:1]

['Ram']

In [141]:
List[:1][0]

'Ram'

In [142]:
List[:1][0][0]

'R'

In [143]:
del List[:-1]

In [144]:
List

['John']

## List

In [146]:
List = [23,99,87,89,232,12,4]

In [147]:
min(List)

4

In [149]:
max(List)

232

In [153]:
Index_Position=List.index(max(List))
Index_Position

4

In [154]:
Index_Position_List_attribute=List[List.index(max(List))]
Index_Position_List_attribute

232

In [168]:
def fun(variable):
    letters =['a','b','c','d','e']
    if (variable in letters):
        return True
    else:
        return False

sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r'] 

fiter = filter(fun,sequence)

for i in fiter:
    print(i)

e
e

In [169]:
List = [223,34,4565,67,1233,456,21,12343,134]

In [171]:
lsit = [i for i in List if i%2==0]

In [172]:
lsit

[34, 456, 134]

In [204]:
lst = [ i for i in List if i%2 !=0 and i%3==1 ] #prime number.

In [205]:
lst

[223, 67, 12343]

In [206]:
List

[223, 34, 4565, 67, 1233, 456, 21, 12343, 134]

In [208]:
Result = [i for i in List if 34 in List] #print evry compoent of the list if it is cotaining the 34.

In [209]:
Result

[223, 34, 4565, 67, 1233, 456, 21, 12343, 134]

## With Statement.

- with statement in Python is used in exception handling to make the code cleaner and much more readable. It simplifies the management of common resources like file streams. Observe the following code example on how the use of with statement makes code cleaner.

In [215]:
# file handling 
  
# 1) without using with statement 
file = open('file_path', 'w') 
file.write('hello world !') 
file.close() 
  
# 2) without using with statement 
file = open('file_path', 'w') 
try: 
    file.write('hello world') 
finally: 
    file.close()

In [216]:
# using with statement 
with open('file_path', 'w') as file: 
    file.write('hello world !')

# Tuple()

- Tuple values are immutable in nature.

In [217]:
tup = (12,23,34,55,13,12,334,98)

In [221]:
tup[1]=22  #From that we can say the tuple are immutable in the nature.

TypeError: 'tuple' object does not support item assignment

In [222]:
type(tup)

tuple

'INTERATION IN THE TUPLE IS FASTER THAN THE LIST'

## Set()

In [223]:
s = {12,22,33,354,676,78}

- We can not be sure the sequence of set it always occur in the random fashion and also we can not able to find out the index value of any number Instead of this we can remove pop etc function can be  use

In [225]:
s

{12, 22, 33, 78, 354, 676}

## Dictionary.

In [230]:
dictionary = {'Banana':200,'Radish':200,'Apple':100,'Tomato':30}

In [232]:
dictionary.keys()

dict_keys(['Banana', 'Radish', 'Apple', 'Tomato'])

In [234]:
dictionary.items()

dict_items([('Banana', 200), ('Radish', 200), ('Apple', 100), ('Tomato', 30)])

In [235]:
type(dictionary)

dict

In [237]:
dictionary.values()

dict_values([200, 200, 100, 30])

**Update**

In [256]:
fruit = {'Mango':300,'Rabin':800}
fruit1 = {'Meat':900,'Cabbage':761}

In [258]:
fruit1.update(fruit)

In [260]:
fruit1

{'Meat': 900, 'Cabbage': 761, 'Mango': 300, 'Rabin': 800}

In [261]:
fruit.pop('Mango')

300

In [264]:
fruit

{'Rabin': 800}

In [265]:
fruit['Banana']=200

In [266]:
fruit

{'Rabin': 800, 'Banana': 200}

In [267]:
data = dict(x =100,y=200,z=900)

In [268]:
data

{'x': 100, 'y': 200, 'z': 900}

In [270]:
dictionary = {'name':'Rahul','Age':20,23:'Years',(23,2):'Code'}

In [271]:
dictionary['name']

'Rahul'

In [276]:
dictionary.get('name')  #return value associated with key.

'Rahul'

In [278]:
dictionary['Tensor']='Python'

In [279]:
dictionary

{'name': 'Rahul', 'Age': 20, 23: 'Years', (23, 2): 'Code', 'Tensor': 'Python'}

In [280]:
dictionary.update({'Native':'Maharastra'})

In [281]:
dictionary

{'name': 'Rahul',
 'Age': 20,
 23: 'Years',
 (23, 2): 'Code',
 'Tensor': 'Python',
 'Native': 'Maharastra'}

In [282]:
dictionary.items()

dict_items([('name', 'Rahul'), ('Age', 20), (23, 'Years'), ((23, 2), 'Code'), ('Tensor', 'Python'), ('Native', 'Maharastra')])

### Slice

In [284]:
x = [23,90,89,67,23,671,122,33]
y = [221,98,98,688,12,233,90]
c = '23397t297022'

In [288]:
Slice = slice(0,4,1)  #Start,stop and Step

In [289]:
x[Slice]

[23, 90, 89, 67]

In [290]:
x[0:10]

[23, 90, 89, 67, 23, 671, 122, 33]

In [291]:
string = 'Python'

In [293]:
string[:-1]  #-1 is excluded

'Pytho'

In [294]:
string[::2]

'Pto'

In [295]:
string[-1:]

'n'

In [296]:
string[::-1]

'nohtyP'

- slicing order : 0,1,2,3,4,5,6,7
- Reverse sclicing order :-8,-7,-6,-5,-4,-3-2,-1