Functions id group of statement within a program that perform specific task.
There are two types of fuctions:-
 - User Define Functions. 
 - Built-In Functions.

User define functions:-

In [2]:
def func():
    print('hello world')  #create a function

In [4]:
func()  #revoke or call the function.

hello world

In [5]:
def add_ten(x):
    return x+10

In [6]:
add_ten(10)

20

In [7]:
def add_even(x):
    if x%2==0:
        print(x,'is an even number.')
    else:
        print(x,'is an odd number.')

In [8]:
add_even(10)

10 is an even number.

In [35]:
def sum(arg1,arg2):
    result = arg1+arg2
    return result

In [36]:
sum(1,2)

3

In [37]:
sum('Roshan','Appa')

'RoshanAppa'

### Standard of Function.

**Example 1**

In [38]:
def sum(arg1,arg2):
    return arg1+arg2

In [39]:
sum(12,13)

25

In [40]:
sum('Ram','Syam')

'RamSyam'

In [42]:
sum('geeta',10)  #here the error occure due to string can not add with integer.

TypeError: can only concatenate str (not "int") to str

### Example 2

- To avoid the above result error we have one trick

In [47]:
def sum(arg1,arg2):
    if type(arg1)!=type(arg2):   #given the condition so the and add remark below
        print('Please enter the same datatype')
        return
    result = arg1+arg2
    return result

35

Please enter the same datatype

In [50]:
x = sum(23,23)
print(x)

46

In [51]:
resulted = sum(89,'RAM')
resulted

Please enter the same datatype

In [54]:
lsit = ['2','3','3','4','7','9']

segence = ['2','2','3','3','4','9']

In [53]:
for item in lsit:
    if item =='3'in lsit:
        print(item)

3
3

## Lambda with Filter

In [9]:
l1 = [23,90,87,68,65,77,30,20,41]

In [14]:
l2 = list(filter(lambda x:(x%2==0),l1))  #even number

In [16]:
l2

[90, 68, 30, 20]

In [20]:
l3 = list(filter(lambda x:(x%2!=0),l1)) #odd number.

In [19]:
l3

[23, 87, 65, 77, 41]

## Lambda With Map

In [21]:
v = [34,56,7788,234,235,567,788,345,23451,134,13,4,1445,134,134,245,245]

In that I want multiply each element of list with 2 for that we will use the map function.

In [23]:
lit = list(map(lambda x:(x*x),v))

In [24]:
lit

[1156,
 3136,
 60652944,
 54756,
 55225,
 321489,
 620944,
 119025,
 549949401,
 17956,
 169,
 16,
 2088025,
 17956,
 17956,
 60025,
 60025]

In [25]:
from functools import reduce

In [27]:
sum = reduce(lambda x,y:x+y,v)

In [28]:
sum

35852

In [32]:
division = reduce(lambda x,y:(x-y),v)

In [33]:
division

-35784

## Some More Properties of function

### By default argument.

In [75]:
def education(name,age):
    print('name:',name)
    print('age :',age)ault

In [77]:
education('ram',20)  #here we use proper way but if we cartain attributes which are default.

name: ram
age : 20

In [88]:
def eduacation(name,age=18):   #if any education system required a person we should atleast 18 yer that we can use the 
    if age >=18: #a default attribute that is age=18
        print('name of the student:',name)
        print('age of the student :',age)
    else:
        print("sorry we can't proceed")

In [89]:
eduacation('Rohit',age=18)

name of the student: Rohit
age of the student : 18

In [94]:
def education(name='rohit',age=0):
    print('age :',age)
    print('name :',name)

In [99]:
education()  #these are the default attributes overrid them by using the othe attributes.

age : 0
name : rohit

In [103]:
def education(name='rohit',age=0): #Thses is how we can override them.
    print('age :',age)
    print('name :',name)

In [104]:
education('Mahesh',20)

age : 20
name : Mahesh

#### Function with three arguments.***

In [105]:
def education(name,age,marks):
    print('name',name)
    print('age',age)
    print('marks',marks)

In [106]:
education('Mahesh',20,23,23,12,89)

TypeError: education() takes 3 positional arguments but 6 were given

**If we see above we want to update marks of the student but it function is considering only 3 attributes.**

In [108]:
def education(name,age,*marks):  #*represent the overall number 2 attributes belongs to the markes argumnets.
    print('name',name)
    print('age',age)
    print('marks',marks)

In [109]:
education('Mahesh',20,78,90,60,97)

name Mahesh
age 20
marks (78, 90, 60, 97)

In [113]:
def education(name,age,*marks):  #*represent the overall number 2 attributes belongs to the markes argumnets.
    print('name',name)
    print('age',age)
    #print('marks',marks)
    print('Marks')
    for i in marks:
        print(i)

In [114]:
education('Mahesh',20,78,90,60,97)

name Mahesh
age 20
Marks
78
90
60
97

such kind of function try write at the last so we easily understand.

**Keys with third argument**

- Above if we see the marks but we don't know where these are markes are belonging actually so let's try with keys.

In [121]:
def education(name,age,**marks):  #*represent the overall number 2 attributes belongs to the markes argumnets.
    print('name',name)
    print('age',age)
    #print('marks',marks)
    print('Marks :',marks)

In [122]:
education('Rohit',20,english=90,marathi=90,geography=79,sanskrit=87)

name Rohit
age 20
Marks : {'english': 90, 'marathi': 90, 'geography': 79, 'sanskrit': 87}

In [125]:
def education(name,age,**marks):  #*represent the overall number 2 attributes belongs to the markes argumnets.
    print('name',name)
    print('age',age)
    #print('marks',marks)
    print('Marks :',marks)
    for keys,values in marks.items():
        print(keys,values)

In [127]:
education('Rohit',20,english=90,marathi=90,geography=79,sanskrit=87)

name Rohit
age 20
Marks : {'english': 90, 'marathi': 90, 'geography': 79, 'sanskrit': 87}
english 90
marathi 90
geography 79
sanskrit 87