### While Loop.

**loop allows us to repeat over some blog of code again and again until and unless required will get mate.**

In [9]:
i = 0    #counter start from zero

while i<5: #ends upto the 5
    print('The value of i is :',i)
    i=i+1  #iterator add one every itration.

The value of i is : 0
The value of i is : 1
The value of i is : 2
The value of i is : 3
The value of i is : 4

- In this while loop we are iterating the i to the reuitred iteraration that is 5.
- It will stop iterating when the while loop condition will will satisfied.

#### Example 1

In [ ]:
number=1
i =0

print('Please enter the 10 To exit.')

while number!=0:
    num = int(input('enter the number ?'))
    i = i+num
    print(i)

Please enter the 10 To exit.
enter the number ?8
8
enter the number ?8
16
enter the number ?7
23
enter the number ?89
112

In [ ]:
i = 0

c= 5

while c!=0:
    x = int(input('please eneter the number :'))
    total = x+c
    print(total)
    i=i+1
else:
    print('You have reach the limit')

please eneter the number :90
95
please eneter the number :89
94
please eneter the number :8888
8893
please eneter the number :123
128
please eneter the number :234
239
please eneter the number :23
28
please eneter the number :133
138
please eneter the number :1234
1239
please eneter the number :134
139
please eneter the number :13
18

In [ ]:
num =4
i =0
while num!=0:
    user_input = int(input('number !'))
    sum = num+ user_input
    print(sum)
    i=i+1

number !90
94

In [1]:
i = 1
n=2


while i<=10:
    print(n,'*',i,'=',i*n)
    i+=1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [8]:
List = [12,33,44,56,78,99,21]

In [9]:
i=0

In [12]:
while i<len(List):
    List[i]=List[i]+100
    i=i+1

In [13]:
List

[112, 133, 144, 156, 178, 199, 121]

## For Loop

- For loop is use for itrate over the sequence that can tuple,string,dictionary and list.
**Lets see the first In operator.**

In [6]:
lst = [23,4,56,67,78,54,23,56]
tup = (23,23,55,67,22)
Set =  {22,89,90,67,44}
dictionary ={'Max':10,'Navin':23}

In [2]:
print(23 in lst) #it will wheather the 23 avalible in list or not

True

In [3]:
print(25 in lst)

False

**for loop**

In [4]:
for i in lst:      #here the in use to check wheather element avalible or not
    print(i)    #it start to one by one each element.

23
4
56
67
78
54
23
56

In [7]:
for i in tup:
    print(i)

23
23
55
67
22

In [8]:
for i in Set:
    print(i)

67
44
22
89
90

In [9]:
for i in dictionary.values():
    print(i)

10
23

In [10]:
for i in dictionary.keys():
    print(i)

Max
Navin

In [11]:
for key,value in dictionary.items():
    print(key,' ',value)

Max   10
Navin   23

In [12]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(2,10,2):
    print(i)
else:
    print('Finished !!')

2
4
6
8
Finished !!

In [22]:
list = []       #nested for loop
for i in range(2,10,2):
    for j in range(i):
        list.append(i)

In [23]:
list

[2, 2, 4, 4, 4, 4, 6, 6, 6, 6, 6, 6, 8, 8, 8, 8, 8, 8, 8, 8]

In [16]:
list = ['Mango','Grapes','Orange','Banana']
list2 = ['Chair','Book','Laptop','Pen']

In [15]:
for i in list:
    print(i)

Mango
Grapes
Orange
Banana

In [17]:
for i in list:
    for j in list2:
        print(i,j)

Mango Chair
Mango Book
Mango Laptop
Mango Pen
Grapes Chair
Grapes Book
Grapes Laptop
Grapes Pen
Orange Chair
Orange Book
Orange Laptop
Orange Pen
Banana Chair
Banana Book
Banana Laptop
Banana Pen

In the above the 1st for loop taken the element of list and then itrate and feed second for loop then it start continuously loop with l2 when the attribute will finish that it will take an another attribute and do the same procedure as above mention.

### For with If,else Statement.

In [27]:
list = [23,345,56,778,23,5456,778432,1235,77432]
for i in list:
    if i>90:
        print(i)

345
778
5456
778432
1235
77432

In [41]:
for i in list:
    if i>90:
        print(i,':- These are the higher numbers than 90')

345 :- These are the higher numbers than 90
778 :- These are the higher numbers than 90
5456 :- These are the higher numbers than 90
778432 :- These are the higher numbers than 90
1235 :- These are the higher numbers than 90
77432 :- These are the higher numbers than 90

# Break and Continue Keywords.

### Break

In [42]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [46]:
for i in range(10):
    if i==3:
        break
    print(i)    #It has break the for loop when it reach to 3.

0
1
2

In [1]:
i=0

while i<5:
    if i==3:
        break
    print(i)
    i=i+1

0
1
2

### Continue

In [2]:
for i in range(10):
    if i==3:         #It has skipped the iteration of 3 and follow the continuous path.
        continue
    print(i)

0
1
2
4
5
6
7
8
9

In [2]:
i = 0

while i<7:
    
    i=i+1
    
    if i==3:  #We can see the i==3 is skip
        
        continue
    print(i)

1
2
4
5
6
7

In [14]:
vaar = ['Ram','shayam','geeta','Babeeta']

In [16]:
vaar

['Ram', 'shayam', 'geeta', 'Babeeta']

I want such for loop in that the name of the geeta will not be occure.

In [20]:
for i in vaar:
    if i=='geeta':
        continue
    print(i)

Ram
shayam
Babeeta

In [34]:
lis = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [35]:
for i in lis:
    if (i%2==0):
        continue    #We had removed the all the odd numbers.
    print(i)

1
3
5
7
9
11
13
15
17
19

In [37]:
for i in lis:
    if i>10:
        break
    print(i)   #It we stop to iterate whenever loop will reach at the 10 accoding to the above condition.

1
2
3
4
5
6
7
8
9
10

### Pass

- Pass Statement
We use pass statement to write empty loops. Pass is also used for empty control statement, function and classes.

In [38]:
string = 'MYFacebook'

In [46]:
for i in string:
    pass
print(i)

k