Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. ... Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse.

## Python Calculator.

In [2]:
2+23

25

In [3]:
9-8

1

In [4]:
9*9

81

In [7]:
10/2

5.0

In [9]:
10//2

5

In [10]:
2*2*2

8

In [13]:
2**3  #** work as exponetial function.

8

In [15]:
10%3

1

In [16]:
10%10

0

## String

- Case-1

In [17]:
print('Navin')

Navin

In [18]:
print("Navin")

Navin

- Case-2

In [20]:
print('Navin's laptop is good')  #It will gona help

SyntaxError: invalid syntax (<ipython-input-20-03a34f648c83>, line 1)

In [22]:
print("Navin's laptop is good.")  #In this way we can get our string by using double string.

Navin's laptop is good.

- Case-3

In [24]:
print('Ramesh having a very good book i.e. "Ramayan".') #This is the another way.

Ramesh having a very good book i.e. "Ramayan".

- Case-4

In [25]:
print('Navin's "Laptop"')  #here we have got the the syntax error.

SyntaxError: invalid syntax (<ipython-input-25-cbfd35fefcbb>, line 1)

In [31]:
print('Navin\'s "Laptop".') #this is the way we can avoid the Syntax error.

Navin's "Laptop".

In [32]:
'Navin'+'Navin'

'NavinNavin'

In [33]:
'Navin'*10

'NavinNavinNavinNavinNavinNavinNavinNavinNavinNavin'

In [35]:
print('c:\docs\navin') #\n is the use for the next line here we are getting in between the two the string so to avoid it.
#we will use the raw string.

c:\docs
avin

In [37]:
print(r'c:\docs\navin') #raw string.

c:\docs\navin

- Case-5

In [47]:
number=2344
string=str(number)
string

'2344'

In [45]:
type(number)

int

In [48]:
 type(string)

str

- Case-6

In [49]:
name = 'Roshan'

In [50]:
name.center(15,'*')

'*****Roshan****'

In [1]:
sentence = "My name is Roshan and I going to delhi but delhi is so far away from here."

In [2]:
sentence.count('Roshan')

1

In [3]:
sentence.count('is')

2

In [4]:
sentence.count('delhi',15) #it given the count

2

In [5]:
sentence.find('delhi')  #it will return index position.

33

In [6]:
sentence.swapcase()  #upper case

'mY NAME IS rOSHAN AND i GOING TO DELHI BUT DELHI IS SO FAR AWAY FROM HERE.'

In [7]:
sentence.split()

['My',
 'name',
 'is',
 'Roshan',
 'and',
 'I',
 'going',
 'to',
 'delhi',
 'but',
 'delhi',
 'is',
 'so',
 'far',
 'away',
 'from',
 'here.']

In [8]:
sentence.split(',')

['My name is Roshan and I going to delhi but delhi is so far away from here.']

In [11]:
sentence.split(',',maxsplit=2)

['My name is Roshan and I going to delhi but delhi is so far away from here.']

In [12]:
sentence.split(',',maxsplit=1)

['My name is Roshan and I going to delhi but delhi is so far away from here.']

In [13]:
sentence.capitalize() #The capitalize() method capitalizes only the first character of a string.

'My name is roshan and i going to delhi but delhi is so far away from here.'

In [16]:
sentence.upper()

'MY NAME IS ROSHAN AND I GOING TO DELHI BUT DELHI IS SO FAR AWAY FROM HERE.'

In [19]:
sentence.lower()

'my name is roshan and i going to delhi but delhi is so far away from here.'

In [20]:
sentence.title() #The title() method capitalizes all the first letters of the given string.

'My Name Is Roshan And I Going To Delhi But Delhi Is So Far Away From Here.'

In [25]:
print(sentence.rjust(1),'I am in Nagpur.') # The rjust() method aligns the string to the right.

My name is Roshan and I going to delhi but delhi is so far away from here. I am in Nagpur.

In [26]:
print(sentence.ljust(1),'I am in Nagpur.')

My name is Roshan and I going to delhi but delhi is so far away from here. I am in Nagpur.

In [69]:
words = 'Man is highly.....telented even he ...lesser stringer than the other!'

In [70]:
words.strip('.!')

'Man is highly.....telented even he ...lesser stringer than the other'

In [71]:
words.lstrip('....!')

'Man is highly.....telented even he ...lesser stringer than the other!'

In [72]:
words.rstrip('!....')

'Man is highly.....telented even he ...lesser stringer than the other'

- The zfill() method adds zeros(0) at the beginning of the string. The length of the returned string depends on the width provided.

In [37]:
string = 'zero'

In [39]:
string.zfill(8)

'0000zero'

## Variable

In [46]:
x,y= 22,11
result = x+y
result

33

In [48]:
id(result)  #This the adress of the variable

1935369904

In [49]:
type(result)

int

- Case-1

In [59]:
5+1 #simple arithematic operation

6

In [60]:
_+ 11 #it adds the previous with 11 and return the 17. _ is the previous result.

17

In [62]:
x = 11
y = 990

In [63]:
x ==y

False

In [64]:
x!=y

True

In [65]:
name = 'youTube'

In [67]:
combo = name +'you'
combo

'youTubeyou'

In [74]:
constant = True

In [75]:
type(constant)

bool

In [76]:
a1 = 2+4j
type(a1)

complex

In [78]:
2f = 'Hi'  #variable shold not satrt with any numeric and other like !\/

SyntaxError: invalid syntax (<ipython-input-78-cde53ff61b3f>, line 1)

**Variable is Case Sensitive.**

**Reserve variable we can not use in the variable Declearation.**
**Variable is reassignment is possible.**

In [79]:
x = 2234

In [80]:
type(x)

int

In [83]:
y =float(x)

In [84]:
type(y)

float

In [86]:
print('My number :-',223) #string concatenation

My number :- 223

In [87]:
DBA= 'My name is Khan'

In [93]:
#when we wnat first three laters
DBA[:2]
#Intial indexing start from the zero.

'My'

In [99]:
DBA[2:] #From 2 to all.

' name is Khan'

In [107]:
DBA[::1]  #here we taken all the senetence in the one step

'My name is Khan'

In [110]:
DBA[:-1]#Start from backside to the all but start index is -1

'My name is Kha'

In [112]:
DBA[::-1] #it's completed reversed the sentence.

'nahK si eman yM'

In [120]:
DBA[:122] #It return all.

'My name is Khan'

In [122]:
DBA[2:7] #here in this case the 7th index is excluded and consider the index from 2 to 6

' name'

# Some Functionality in the Python.

### Format.

In [123]:
sentance = 'My Name is Ram and I will never going to play with Shyam'

In [125]:
x = 'Why ??'

In [126]:
print('I am asking a quesion with {}'.format(x))

I am asking a quesion with Why ??

In [127]:
print('HELLO','world',sep='-----')

HELLO-----world

### String Module

In [131]:
print('Hello %s'% x)  # concatenate the sring

Hello Why ??

In [132]:
name,age='Rahul',22

In [136]:
print('hello My name is %s and my age is %d.'% (name,22)) #here the %s is string concatenate and %d is decimal number addition.

hello My name is Rahul and my age is 22.

In [138]:
print('I have got the %f markes in maths.'%99.8)  #same for the float

I have got the 99.800000 markes in maths.

In [141]:
#if we round the % number that time
print('I have got the %.2f markes in maths.'%99.8) #in that i have got only two number after the number.

I have got the 99.80 markes in maths.

## Input

In [142]:
value = input('Please enter the faviorate number :-')

Please enter the faviorate number :-23

In [143]:
value

'23'

In [144]:
type(value)

str

In [145]:
value = int(input('Please enter the faviorate number :-'))

Please enter the faviorate number :-34

In [146]:
type(value)

int

In [147]:
value = float(input('Please enter the faviorate number :-'))

Please enter the faviorate number :-22

In [148]:
type(value)

float

## In-Build Function

- abs
 - It will convert the negetive to possitive.

In [149]:
s = -1111

In [150]:
abs(s)

1111

- all()

 - The all() function returns True if all items in an iterable are true, otherwise it returns False. If the iterable object is empty, the all() function also returns True.

In [151]:
x = [22.23,23,11,34,1211]
all(x)

True

In [155]:
c = [0]
all(c)

False

- Max and Min

In [158]:
f = [22,23,11,90]
max(f)

90

In [159]:
min(f)

11

- round()

In [160]:
x = 23.89322779272

In [161]:
round(x,2)

23.89

In [162]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [163]:
x = list(range(1,10))

In [164]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

- set()

- It help us to get the unique number out of the list.

In [165]:
x =[12,12,12,87,87,12]
set(x)

{12, 87}

- enumerate()
 - Enumerate() method adds a counter to an iterable and returns it in a form of enumerate object. This enumerate object can then be used directly in for loops or be converted into a list of tuples using list() method.

In [167]:
x = ['ram','shyam','geeta']

In [169]:
list(enumerate(x))

[(0, 'ram'), (1, 'shyam'), (2, 'geeta')]

In [171]:
for i in enumerate(range(5)):
    print(i)

(0, 0)
(1, 1)
(2, 2)
(3, 3)
(4, 4)

- len()

In [172]:
len(x)

3

- sum()

In [178]:
x = 300
y = 300
sum([x,y])

600

- divmod

In [181]:
divmod(x,y)#return the tuple

(1, 0)

- chr()

In [196]:
x = 2334

In [197]:
chr(x)

'à¤ž'

- map

- map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [215]:
def addition(x):
    return x+x

In [216]:
number = [23,23,78,98]

In [217]:
result=map(addition,number)

In [218]:
list(result)

[46, 46, 156, 196]

In [219]:
number = [12,989,87,6]

In [220]:
result = map(lambda x:x+x,number)

In [221]:
list(result)

[24, 1978, 174, 12]

In [222]:
# Add two lists using map and lambda 
  
numbers1 = [1, 2, 3] 
numbers2 = [4, 5, 6] 
  
result = map(lambda x, y: x + y, numbers1, numbers2) 
print(list(result))

[5, 7, 9]

In [223]:
# List of strings 
l = ['sat', 'bat', 'cat', 'mat'] 
  
# map() can listify the list of strings individually 
test = list(map(list, l)) 
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

## Practice on map

In [225]:
def mupliplication(x,y):
    return x*y

In [226]:
x = [12,33,434,56]
y =[22,98,90,78]

In [227]:
result = map(lambda x,y:x*y,x,y)

In [229]:
mapped_result = list(result)

In [230]:
mapped_result

[264, 3234, 39060, 4368]

In [239]:
result2 = map(mupliplication,x,y)

In [240]:
mapped_result2 = list(result2)

In [241]:
mapped_result2

[264, 3234, 39060, 4368]

- tuple()

In [242]:
list = [223,3,221,11]

In [243]:
tup = tuple(list)
tup

(223, 3, 221, 11)

- compile()
 - Search ResultsFeatured snippet from the web .The compile() method returns a Python code object from the source (normal string, a byte string, or an AST object). The compile() method is used if the Python code is in string form or is an AST object, and you want to change it to a code object

In [245]:
#Python code to demonstrate working of compile(). 
x = 50
  
# Note eval is used for single statement 
a = compile('x', 'test', 'single') 
exec(a)

50

In [246]:
help(compile)

Help on built-in function compile in module builtins:

compile(source, filename, mode, flags=0, dont_inherit=False, optimize=-1)
    Compile source into a code object that can be executed by exec() or eval().

    The source code may represent a Python module, statement or expression.
    The filename will be used for run-time error messages.
    The mode must be 'exec' to compile a module, 'single' to compile a
    single (interactive) statement, or 'eval' to compile an expression.
    The flags argument, if present, controls which future statements influence
    the compilation of the code.
    The dont_inherit argument, if true, stops the compilation inheriting
    the effects of any future statements in effect in the code calling
    compile; if absent or false these statements do influence the compilation,
    in addition to any features explicitly specified.

- bin

In [247]:
bin(1)

'0b1'

In [248]:
bin(2)

'0b10'

In [251]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

**These are the builtin avalible in Python.**

# Maths Module

In [252]:
import math

## All the mathematical operations will be perform by using the math module.

In [253]:
math.sqrt(25)

5.0

#### To get the all the math module attribute

In [254]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']